main {
  text-align: center;
  border-style: dotted;
  margin-left: 25%;
  margin-right:25%;
  
  max-height: 100%;
}
h2 {
  font-size: 1.3em;
}
a {
  color: hotpink;
}
a:visited {
    color: red;
section.a {

}
#burg {
  height: 100px;
    max-width: 100%;
 }
body
{
  background-color: lightblue;
}
